body{
  text-align: center;
  font-family: 'Merriweather', serif;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px){
  body{
    width: 50%;
  }
}
h1{
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin-bottom: 1rem;
}
.top_container{
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
.topcontainerp{
  color: #66BFBF;
}
.pro{
  text-decoration: underline;
}
.top-heading{
  display: inline;
}
.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottomcloud{
  position:  absolute;
  left: 300px;
  bottom:300px;
}
.middle-container{

}
.dp{
  margin-top: 3rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.skill-row{
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1.5;
  margin-bottom: 15px
}
.skillicon1{
  width: 20%;
  object-fit: cover;
  text-align: left;
  float: left;
  margin-right: 30px;
}

.skillicon2{
  width: 20%;
  object-fit: cover;
  text-align: left;
  float: right;
  margin-left: 30px;
}
.contact-me{
  margin-bottom: 2rem;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ab);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
a{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10px;
}
